@import "colours.css";

* {
  border: none;
  font-family: "Roboto Nerd Font", sans-serif;
  font-size: 12px;
  min-height: 0;
  box-shadow: none;
  padding: 0px;
}

window#waybar {
  background: transparent;
  color: @on_background;
}

/* === Workspaces as unified pill === */
#workspaces {
  border-style: solid;
  border-width: 2px;

  border-color: alpha(@surface_variant, 0.8);
  background: alpha(@surface_container, 0.7);
  opacity: 1;
  border-radius: 9999px;
  margin: 0 8px;
}

#workspaces button {
  background: transparent;
  color: @primary;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 9999px;
  margin: 0;
  transition: background 0.3s ease, padding 0.2s ease, color 0.3s ease;
}

#workspaces button:hover {
  color: @primary_container;
  padding: 0px 14px;
}

#workspaces button.active {
  background: @primary_container;
  color: @on_primary_container;
  border-radius: 9999px;
  padding: 0px 14px;
}

/* ===== Floating Pills ===== */
#clock,
#mpris,
#tray,
#custom-notifications,
#custom-gpu-monitor,
#custom-cpu-monitor,
#custom-power {
  background: alpha(@surface_container, 0.7);
  opacity: 1;
  color: @primary;
  border-radius: 9999px;
  padding: 3px 14px;
  margin: 0 8px;
  transition: background 0.3s ease, color 0.3s ease, opacity 0.5s ease;
  border-style: solid;
  border-width: 2px;
  border-color: alpha(@surface_variant, 0.8)
}

/* Clock */
#clock {
  margin-right: 4px;
}

/* MPRIS */
#mpris {
  background: @tertiary_container;
  color: @on_tertiary_container;
}

/* Notifications */
#custom-notifications {
  font-family: "Symbols Nerd Font", "Roboto Nerd Font", sans-serif;
  opacity: 0;
}

#custom-notifications:hover {
  opacity: 1;
}

#custom-notifications.notification,
#custom-notifications.dnd-notification,
#custom-notifications.dnd-none,
#custom-notifications.inhibited-notification,
#custom-notifiactions.inhibited-none,
#custom-notifications.dnd-inhibited-notification,
#custom-notifications.dnd-inhibited-none {
  opacity: 1;
}

/* Warm temperature class */
#custom-gpu-monitor.temperature-warm {
  background: @primary_container;
  color: @on_primary_container;
}

/* Hot temperature class */
#custom-gpu-monitor.temperature-hot {
  background: @error_container;
  color: @on_error_container;
}

/* Warm temperature class */
#custom-cpu-monitor.temperature-warm {
  background: @primary_container;
  color: @on_primary_container;
}

/* Hot temperature class */
#custom-cpu-monitor.temperature-hot {
  background: @error_container;
  color: @on_error_container;
}

/* Power */
#custom-power {
  font-family: "Symbols Nerd Font", "Roboto Nerd Font", sans-serif;
  margin-left: 4px;
}

#custom-power:hover {
  background: @primary_container;
  color: @on_primary_container;
}

/* ===== Tray menus ===== */
#tray {
  /* opacity: 0.8; */
  padding: 0px 10px;
}

#tray menu {
  border-style: solid;
  border-width: 2px;
  border-color: @primary_container;
  background-color: @surface_container_low;
  color: @primary;
  border-radius: 10px;
  padding: 8px;
  /* Doesn't seem to work here */
  /* opacity: 0.8; */
}
